@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto Slab', serif;

$light-color: #fff; //Создаем переменную цвета, чтобы в последующем могли всё это изменить за раз.
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

small {
    letter-spacing: -0.19px;
}

h3 {
    font-size: 24PX;
    letter-spacing: 1.2px;
}

body{
    font-family: 'Roboto Slab', serif; //Пременяем подключенный шрифт, к тегу boddy
    font-size: 15px;
    line-height: 24px;
}

.wrap{
    max-width: 1170px; // Создаём максимальную ширену для всей обёртки
    margin: 0 auto; // Убираем отступы и задаем свойство АВТО, что выравнивает содержимое всей обёртки по центру
}

.page-main { // Это наш основной блок с контентом, находящимся на верху
    color: $light-color; // В блоке устанавливаем цвет текста, с помощью нашей переменной
    background-image: url(../img/bg.png) ; // Задаем фаил фона
    background-repeat: no-repeat; // Пишем свойство, чтобы картинка фона не повторялась
    background-size: cover; //Масштабирует картинку так, чтобы она накрыла собой весь блок с сохранением пропорций.
    padding-bottom: 158px;
}

.header{
    padding-bottom: 82px;
    padding-top: 36px;
    display: flex; //После установки данных значений свойства каждый дочерний элемент автоматически становится flex-элементом, выстраиваясь в один ряд (вдоль главной оси). При этом блочные и строчные дочерние элементы ведут себя одинаково, т.е. ширина блоков равна ширине их содержимого с учетом внутренних полей и рамок элемента.
    justify-content: space-between; // Задаем пустое растояние между элементами
    align-items: center; //Свойство align-items задает выравнивание элементов вдоль поперечной оси. Применяется к: родительскому элементу для flex блоков.
    max-width: 1170px; // Создаём максимальную ширену для блока
    margin: 0 auto; // Убираем отступы и задаем свойство АВТО, что выравнивает содержимое по центру
    &__logo { // Так-как у нас элемент LOGO вложен в блок HEADER, мы просто здесь же создаем для него стиль, с помощью & и двойного подчёркивания.
        background-repeat: no-repeat;
        display: block; //Блочные элементы располагаются один над другим, вертикально (если нет особых свойств позиционирования, например float). Блок стремится расшириться на всю доступную ширину. Можно указать ширину и высоту явно.
        width: 137px; // Задаём ширину элемента (Логотипа)
        height: 28px; // Задаём высоту элемента
        background-image: url(../img/logo.svg); 
    }
    &-list{
        list-style-type: none; // Отключаем стилизацию списка. (Убираем точки)
        display: flex; // Устанавливаем, что это flex эллемент. display: flex; делает все дочерние элементы резиновыми — flex, а не инлайновыми или блочными, как было изначально.
        justify-content: flex-end; //элементы выравниваются от конца главной оси;
        font-family: 'Open Sans', serif;
        margin-right: 8px;
        font-size: 15px;
        &__item{
            margin-left: 25px; // Задаем внешний отступ слева, для каждого пункта
            padding-bottom: 5px;
            border-bottom: 3px solid transparent; // Делаем черту невидимой
            transition: 0.5s; // Создаём переход в 0,3 секунды
            &:hover{border-bottom: 3px solid $accent-color;}// Для псевдо класов можем использовать такой вид записи. При наведении на ссылку, через 0,3 сек. появится стиль
        }
        &__item.active{ // Создаём стиль для подкласса, чтобы сделать активный выбр ссылок
            border-bottom: 3px solid $accent-color;
        }
        &__link{
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}

.block-text{
    flex-basis: calc(93% - 417px);
    &__name{
        font-family: 'Open Sans', serif;
        font-size: 18px;
        // margin-top: 45px;
        letter-spacing: 0.9px;
    }
    &__name_top {
        margin-top: 12px;
        margin-left: 0;
    }
    &__title {
        letter-spacing: 1.8px;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 44px;
        margin-top: 42px;
        &_title2 {
            margin-top: 31px;
        }
        span {
            display: block; // для того чтобы элемент позицианировался не в строчку, а с новый строки
            color: $accent-color;
            font-size: 18px;
            margin-top: 25px;
            letter-spacing: 0.9px;
        }
    }
    &__description{
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 28px;
        margin-top: -5px;
        letter-spacing: 0.75px;
        max-width: 594px
    }
    &__btn{
        display: block;
        background: linear-gradient(to top left,#65e49c, #65e4af);
        color: $light-color;
        text-decoration: none;
        max-width: 251px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 46px;
        margin-bottom: 16px;
        padding: 13px 0;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #58b988 inset;
        // position: relative;
        // &::before {
        //     content: '';
        //     display: block;
        //     height: 20px;
        //     width: 100%;
        //     background-color: #b2f1be;
        //     position: absolute;
        //     z-index: -1;
        //     bottom: -2px;
        //     border-radius: 3px;
        // }
    }
    &__btn2 {
        display: block;
        background: linear-gradient(to top left,#65e49c, #65e4af);
        color: $light-color;
        text-decoration: none;
        max-width: 238px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 46px;
        margin-bottom: 16px;
        padding: 13px 0;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #b2f1be inset;
}
}

.page{
    padding-top: 164px;
    padding-bottom: 160px;
    &_gray{
        background-color: $bg-light-color;
        height: 534px;
    }
    &__title{
        // font-size: 48px;
        // text-align: center;
        // margin-bottom: 25px;
        // letter-spacing: 2px;
        font-size: 48px;
        text-align: center;
        margin: -4px 0px 25px;
        letter-spacing: 2px;
    }
    &__subtitle{
        color: #65e496;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.9px;
        margin: 0 0 83px;
    }
}

.block-book{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    &-demo{
        position: relative;
        display: block;
        width: 447px;
        height: 643px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        flex-basis: 500px;
        &__title{
            font-size: 36px;
            position: absolute;
            left: 131px;
            top: 118px;
            letter-spacing: 1.4px;
            span{
                font-family: 'Open Sans', serif;
                font-size: 14px;
                color: $accent-color;
                display: block;
                margin-top: 10px;
                letter-spacing: 0.7px;
            }
        }
        &__author {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 56px;
            left: 87px;
            letter-spacing: 0.7px;
        }
    }
}

.block-author{
    display: flex;
    justify-content: space-between;
}

.block-ava{
    position: relative;
    bottom: 4px;
    &__svg{
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img{
        margin-top: 47px;
        margin-right: 44PX;
        margin-bottom: 173px;
    }
}

.block-counter{
    display: flex;
    justify-content: space-between;
    margin: 33px 0 0 84px;
    max-width: 1030px;
    flex-basis: 30% 30% 30%;
    // position: relative;
    p{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 0.8px;
        span{
            font-family: 'Roboto Slab', serif;
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $accent-color;
            margin-bottom: 48px;
            letter-spacing: 3px;
        }
    }
    &__readers_shift span{
        padding: 0 7px 0 0;
        
    }
    &__readers_center span{
        padding: 0px 0px 0 21px;
    }
        
}

.block-about {
    display: flex;
    justify-content: space-between;
    h3 {
        margin-bottom: 20px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.75px;
        margin: 0 0 30px;
    }
    &-text {
        flex-basis: 41%;
        &__links {
            display: flex;
            &>p {
                font-family: 'Roboto Slab', serif;
                font-size: 19px;
                font-weight: 900;
                margin-right: -12px;
                letter-spacing: 0.7px;
            
            }
            &>ul {
                display: flex;
                list-style-type: none;
                align-items: flex-start;
                margin: 0 0 0 -3px;
                letter-spacing: 7.7px;
            }

            &>ul>li {
                flex-direction: row;
                margin-right: 10px;
            }
            & .fa-btc::before, .fa-amazon::before, .fa-at::before {
                color: $accent-color;
            }
            
        }
    }
    &-table {
        flex-basis: 49%;
    
    &__list {
        margin: 25px 0 0 0; 
        padding: 0;
        counter-reset: list;
        column-count: 2;
        margin-bottom: 10px;
    &>li {
        position: relative;
        padding-left: 34px;
        counter-increment: list;
        list-style-type: none;
        margin: 0px 0px 8px 4px;
        letter-spacing: 0.75px;
        &::before {
            content: counter(list)". ";
        }
        &::after {
            content: "+";
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            line-height: 22px;
            position: absolute;
            left: 0;
            top: 1px;
            background-color: $accent-color;
            color: $light-color;
            padding: 0px 7px;
        }
     }
    }

    &__btn {
        margin: 19px 0 0px 4px;
        background: linear-gradient(to top left, #65e49c, #65e4af);
        color: #fff;
        border-style: none;
        padding: 14px 43px;
        border-radius: 2px;
        font-size: 18px;
        box-shadow: 0 -2px #b2f1be inset;
        letter-spacing: 1.6px;
    }
}
}

// Other books
.other-books {
    position: relative;
    padding-top: 165px;
    height: 1104px;
}
.books {
    display: flex;
    justify-content: space-around;
}
.book{
    background-image: url(../img/book-img.svg);
    width: 269px;
    height: 409px;
    border-radius: 5px;
    background-color: #44444f;
    padding: 0 0 0 38px;

    &__title {
        max-width: 160px;
        height: 19px;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.96px;
        margin: 74px auto 10px;
    }
    &__subtitle {
        max-width: 200px;
        height: 9px;
        color: $accent-color;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;
        margin: 0 auto 246px;
    }
    &__bootom {
        max-width: 169px;
        height: 12px;
        color: $accent-color;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;
        margin: 0 auto 76px;
    }
}
.description {
    &__title{
        max-width: 169px;
        height: 25px;
        color: #44444f;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1.2px;
        margin: 0 auto;
    }
    &__text {
        width: 314px;
        height: 60px;
        color: #696980;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.75px;
        margin: 13px 0px 30px -42px;
        text-align: center;
    }
    &__links{
        width: 92px;
        height: 11px;
        color: #65e496;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        text-decoration: none;
        margin: 0 0 0 68px;
    }
}
.books-btn{
    position: absolute;
    bottom: 221px;
    left: 632px; 
    background: linear-gradient(to top left, #65e49c, #65e4af);
    color: #fff;
    border-style: none;
    padding: 15px 29px;
    border-radius: 2px;
    font-size: 18px;
    box-shadow: 0 -2px #b2f1be inset;
    letter-spacing: 1.6px;
    a{
        width: 153px;
        height: 15px;
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.72px;
    }
}
